<ul class="nav justify-content-end">
    <div align='left' class="nav-item">
      <a style="padding-left: 10px; padding-right: 10px" href="{{runningOn}}/">Home</a>
      <a style="padding-left: 10px; padding-right: 10px" class="top-nav-item" href="https://github.com/DTA-UIT">About us</a>
      <a style="padding-left: 10px; padding-right: 10px" class="top-nav-item"  href="https://drive.google.com/drive/folders/1GunI6e1ctDGOyY2surawT5kCQsAcyh_F?usp=sharing">Dataset</a>
      <a style="padding-left: 5px; padding-right: 5px" class="top-nav-item" href="#" class="grid-icon"><img src="../../public/img/grid-icon.svg" style="width: 40px; height: 40px" alt="more icpns"></a>
    </div>
</ul>