<div class='mt-3'>
    <div align='center'>
        <h2>Query image</h2>
    </div>
    <div align="center" style='margin-top: 20px'>  
        <img src ="public/img/image_output.jpg"  style="max-width: 50%;" alt="Responsive image">
    </div>

    <div align='center' style='margin-top: 30px'>
        <h2>Top 20 relevant images to the query</h2>
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_0.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_1.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_2.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_3.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_4.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_5.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_6.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_7.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_8.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_9.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_10.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_11.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_12.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_13.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_14.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_15.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_16.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_17.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_18.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_19.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    <div align="center" style='margin-top: 20px'>
        <img src ="public/img/output/retrieved_image_20.jpg" style="max-width: 50%;" alt="Responsive image">
    </div>
    
</div>