<div class='mt-3'>
    <div align='center'>
        <h2>Upload image to query </h2>
        <p> (<b>jpg</b> image is supported only)</p>
    </div>
    <form method="POST" enctype="multipart/form-data" action="/upload">
        <div align="center">  
            <img src ="public/img/upload_upload.png"  style="max-width: 80%;" alt="Responsive image">
        </div>

        <div align='center' > 
            <input type="file" name="data_image">
            <input type="submit" value="Upload Photo" class="btn btn-primary">
        </div>
    
    </form> 
</div>